@media only screen and (max-width: 480px) {

}


@media only screen and (min-width: 481px){

}

@media only screen and (min-width: 1024px){

}

#navBar li {
  display: inline-block;
  padding-left: 30px;
}

  #navBar a{
text-decoration: none;
}
